@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Source+Sans+Pro:wght@300&display=swap');
:root{
    --main-bg-color:#2874f0;
}
*{
    padding: 0;
    margin: 0;
}
header{
    
    background-color:var(--main-bg-color);
}
nav{
    display: flex;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 85px;
    padding: 0px 20px;
}
nav ul{
    display: flex;
    list-style: none;
    height: 58px;
    justify-content: flex-start;
    align-items: center;
}
nav ul li{

    padding: 0px 23px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}
nav ul li a:hover{
    font-weight: bolder;
}

.search input{
    width: 30vw;
    height:34px;
    border-radius: 2px;
    border: 2px solid white;
    margin: 8px 71px;
    padding: 0px 12px;
    box-shadow: 2px 3px 4px 2px rgb(48 65 216);
}
.btn{
    position: relative;
    right: 110px;
    height: 34px;
    width: 35px;
    background-color: white;
    border-color: white;
    border-style: none;
}
.fa-search:before{
    color:var(--main-bg-color)
}
.container{
    min-height: calc(100vh - 58px - 12vh);
}
.slider{
    width:85vw;
    height: auto;
    margin:12px auto;
    overflow: hidden;
}
.slider img{
    width:85vw;
}
.card{
    width: 95vw;
    margin: 10px auto;
    
    
}
.cards{
    display: flex;
    /* justify-content: space-evenly; */
    /* flex-wrap: wrap; */
    overflow: scroll;
    
}
.card-item{
    width:11vw;
    display: flex;
    flex-direction: column;
    margin: 5px 10px;
}
footer{
    height: 12vh;
    background-color: var(--main-bg-color);
    color: white;
    font-family: 'Lato', sans-serif;
}